<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
        body {
          color: red;
          background-color: lightblue;
          font-size: 23px;
          text-align: left;
        }
      </style>
</head>
<body>
    <h1>At Foo Bar</h1>
    <img src="<%= food.image.replace('jpg', 'png')%>" alt = "food image", width = 150px>
    <h3>Item price <%= food.price %></h3>
    <a href = "/foods">Back</a>
    
</body>
</html>