<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to the Github App</title>
  <style>
    body {
      background-color: lightblue;
    }

    header {
      background-color: white;
      padding: 20px;
    }

    nav ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    nav li {
      float: left;
    }

    nav a {
      display: block;
      padding: 10px;
      text-align: center;
      text-decoration: none;
    }

    nav a:hover {
      background-color: lightgray;
    }

    main {
      text-align: center;
      margin-top: 50px;
    }

    .smiley-face {
      font-size: 100px;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <a href = "/drinks">DRINKS</a>
        <a href = "/foods">FOOD</a>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Welcome to the Github App</h1>
    <div class="smiley-face">&#128515;</div>
    <p>Explore our selection of drinks and food!</p>
  </main>
</body>
</html>
